<launch>

        <!-- Interface topics -->
        <arg name="topicname/state" default="/state"/>

        <arg name="topicname/state/delta" default="state/delta"/>
        <arg name="topicname/state/report" default="state/report"/>
        <arg name="topicname/state/report_and_desire" default="state/report_and_desire"/>

        <arg name="certificatePath" default="$(find ros_aws_iot_bridge)/certs/certificate.pem.crt"/>
        <arg name="privateKeyPath" default="$(find ros_aws_iot_bridge)/certs/private.pem.key"/>
        <arg name="rootCAPath" default="$(find ros_aws_iot_bridge)/certs/rootCA.pem"/>
        <arg name="thingName" default="WHILL"/>
    
        <group ns="shadow">
            <!-- Actual node launch-->
            <node pkg="ros_aws_iot_bridge" name="sync" type="sync.py" output="screen" required="true">

                <param name="host" value="afikasltww6e2.iot.ap-northeast-1.amazonaws.com" />
                <param name="thingName" value="$(arg thingName)" />
                <param name="dyn_reconf_args" value="$(find ros_aws_iot_bridge)/config/whill-system.yaml"/>

                <param name="certificatePath" value="$(arg certificatePath)"/>
                <param name="privateKeyPath"  value="$(arg privateKeyPath)"/>
                <param name="rootCAPath"      value="$(arg rootCAPath)"/>

                <remap from="/state" to="$(arg topicname/state)"/>
                <remap from="state/delta" to="$(arg topicname/state/delta)"/>
                <remap from="state/report" to="$(arg topicname/state/report)"/>
                <remap from="state/report_and_desire" to="$(arg topicname/state/report_and_desire)"/>

            </node>
        </group>

</launch>